{
 :sessions {}
 :users {
  "yeKFqj7rX" {:name "chen", :id "yeKFqj7rX", :nickname "chen", :avatar nil, :password "d41d8cd98f00b204e9800998ecf8427e", :theme :star-trail}
 }
 :ir {
  :package "app"
  :files {
   "app.main" {
    :ns {
     :type :expr, :by "yeKFqj7rX", :at 1534483212338, :id "WD4drWEfD9"
     :data {
      "T" {:type :leaf, :by "yeKFqj7rX", :at 1534483212338, :text "ns", :id "jeg5aDS4Wa"}
      "j" {:type :leaf, :by "yeKFqj7rX", :at 1534483212338, :text "app.main", :id "Hvc4wCBXc4"}
      "r" {
       :type :expr, :by "yeKFqj7rX", :at 1534483679032, :id "nGyImxkqpB"
       :data {
        "T" {:type :leaf, :by "yeKFqj7rX", :at 1534483683346, :text ":require", :id "pV7hKeldu"}
        "j" {
         :type :expr, :by "yeKFqj7rX", :at 1534483683751, :id "UfQ9FrTxjD"
         :data {
          "T" {:type :leaf, :by "yeKFqj7rX", :at 1534483683939, :text "[]", :id "xGaMk0R2G"}
          "j" {:type :leaf, :by "yeKFqj7rX", :at 1534483693931, :text "skir.client", :id "u5MLSbZcR"}
          "r" {:type :leaf, :by "yeKFqj7rX", :at 1534483751588, :text ":as", :id "kavANajv7e"}
          "v" {:type :leaf, :by "yeKFqj7rX", :at 1534483696690, :text "skir-client", :id "MwQpPE-Ti"}
         }
        }
        "r" {
         :type :expr, :by "yeKFqj7rX", :at 1535475061024, :id "PGxWP2bILU"
         :data {
          "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475061686, :text "[]", :id "PGxWP2bILUleaf"}
          "j" {:type :leaf, :by "yeKFqj7rX", :at 1535475063992, :text "\"fs", :id "ot6NDp-GHL"}
          "r" {:type :leaf, :by "yeKFqj7rX", :at 1535475065992, :text ":as", :id "U4lr0xfrY9"}
          "v" {:type :leaf, :by "yeKFqj7rX", :at 1535475066625, :text "fs", :id "LUoKJIZpb6"}
         }
        }
        "v" {
         :type :expr, :by "yeKFqj7rX", :at 1535475061024, :id "4-QK2rbDp"
         :data {
          "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475061686, :text "[]", :id "PGxWP2bILUleaf"}
          "j" {:type :leaf, :by "yeKFqj7rX", :at 1535475111101, :text "\"path", :id "ot6NDp-GHL"}
          "r" {:type :leaf, :by "yeKFqj7rX", :at 1535475065992, :text ":as", :id "U4lr0xfrY9"}
          "v" {:type :leaf, :by "yeKFqj7rX", :at 1535475112618, :text "path", :id "LUoKJIZpb6"}
         }
        }
        "x" {
         :type :expr, :by "yeKFqj7rX", :at 1535475147516, :id "hp7lcs21Wl"
         :data {
          "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475147815, :text "[]", :id "hp7lcs21Wlleaf"}
          "j" {:type :leaf, :by "yeKFqj7rX", :at 1535475150360, :text "clojure.string", :id "yGS5HxYvkU"}
          "r" {:type :leaf, :by "yeKFqj7rX", :at 1535475150779, :text ":as", :id "rMWNS2UkeK"}
          "v" {:type :leaf, :by "yeKFqj7rX", :at 1535475151548, :text "string", :id "VECBv107lR"}
         }
        }
        "y" {
         :type :expr, :by "yeKFqj7rX", :at 1535475723091, :id "4zKkPckWHX"
         :data {
          "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475723421, :text "[]", :id "4zKkPckWHXleaf"}
          "j" {:type :leaf, :by "yeKFqj7rX", :at 1535475727607, :text "cljs.reader", :id "xtEEQCunP"}
          "r" {:type :leaf, :by "yeKFqj7rX", :at 1535475728359, :text ":refer", :id "RxqXkaobIt"}
          "v" {
           :type :expr, :by "yeKFqj7rX", :at 1535475728521, :id "kfRxoS53T"
           :data {
            "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475728746, :text "[]", :id "FxSOvQy0_x"}
            "j" {:type :leaf, :by "yeKFqj7rX", :at 1535475731154, :text "read-string", :id "VZaP30cS5E"}
           }
          }
         }
        }
       }
      }
     }
    }
    :defs {
     "main!" {
      :type :expr, :by "yeKFqj7rX", :at 1534483214794, :id "SWvtON639q"
      :data {
       "T" {:type :leaf, :by "yeKFqj7rX", :at 1534483214794, :text "defn", :id "0OZDgsAOvf"}
       "j" {:type :leaf, :by "yeKFqj7rX", :at 1534483214794, :text "main!", :id "mI-t3ViWvV"}
       "r" {
        :type :expr, :by "yeKFqj7rX", :at 1534483214794, :id "lP6uJuLIHa"
        :data {}
       }
       "v" {
        :type :expr, :by "yeKFqj7rX", :at 1534483219154, :id "7MO0wI6pRH"
        :data {
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1534483220269, :text "println", :id "7MO0wI6pRHleaf"}
         "j" {:type :leaf, :by "yeKFqj7rX", :at 1534483646733, :text "\"Started.", :id "QtyUDYYqzh"}
        }
       }
       "x" {
        :type :expr, :by "yeKFqj7rX", :at 1535475020265, :id "JlCcoSE_bd"
        :data {
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475024271, :text "run-task!", :id "JlCcoSE_bdleaf"}
        }
       }
      }
     }
     "reload!" {
      :type :expr, :by "yeKFqj7rX", :at 1534483216569, :id "-BOhJzActg"
      :data {
       "T" {:type :leaf, :by "yeKFqj7rX", :at 1534483216569, :text "defn", :id "78G4OkYMQ2"}
       "j" {:type :leaf, :by "yeKFqj7rX", :at 1534483216569, :text "reload!", :id "uDkGHYSsJo"}
       "r" {
        :type :expr, :by "yeKFqj7rX", :at 1534483216569, :id "Lpt5qqH2Vl"
        :data {}
       }
       "w" {
        :type :expr, :by "yeKFqj7rX", :at 1534483614325, :id "ZaXHdfRAS"
        :data {
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1534483615196, :text ".clear", :id "ZaXHdfRASleaf"}
         "j" {:type :leaf, :by "yeKFqj7rX", :at 1534483618012, :text "js/console", :id "KTDkK3SQO"}
        }
       }
       "wT" {
        :type :expr, :by "yeKFqj7rX", :at 1534483228056, :id "nvVffdJ4rl"
        :data {
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1534483228922, :text "println", :id "_PKSES8fGyleaf"}
         "j" {:type :leaf, :by "yeKFqj7rX", :at 1534483648553, :text "\"Reloaded.", :id "EGqaOPxjzt"}
        }
       }
       "xD" {
        :type :expr, :by "yeKFqj7rX", :at 1535475031756, :id "J8L6QfmR5"
        :data {
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475034650, :text "run-task!", :id "J8L6QfmR5leaf"}
        }
       }
      }
     }
     "run-task!" {
      :type :expr, :by "yeKFqj7rX", :at 1535475024658, :id "ku2rcgMpPa"
      :data {
       "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475024658, :text "defn", :id "6GTvXtXbNO"}
       "j" {:type :leaf, :by "yeKFqj7rX", :at 1535475024658, :text "run-task!", :id "A6_ZFexy_p"}
       "r" {
        :type :expr, :by "yeKFqj7rX", :at 1535475024658, :id "TznScK41tZ"
        :data {}
       }
       "uj" {
        :type :expr, :by "yeKFqj7rX", :at 1535475702908, :id "7pIkbOHDAy"
        :data {
         "D" {:type :leaf, :by "yeKFqj7rX", :at 1535475782179, :text "->", :id "Fc3ZFTaYE"}
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475784635, :text "js/process", :id "QPPi4mkXo"}
         "f" {:type :leaf, :by "yeKFqj7rX", :at 1535475789304, :text ".-stdout", :id "J2xr1n_Gwq"}
         "r" {
          :type :expr, :by "yeKFqj7rX", :at 1535475790356, :id "Imyvna2T_7"
          :data {
           "D" {:type :leaf, :by "yeKFqj7rX", :at 1535475791165, :text ".write", :id "VV6R__6dw"}
           "T" {
            :type :expr, :by "yeKFqj7rX", :at 1535475715857, :id "BoOeuj2NT"
            :data {
             "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475718739, :text "read-string", :id "NLKxOK_0uS"}
             "j" {:type :leaf, :by "yeKFqj7rX", :at 1535475721300, :text "\"\"\\033[2J\"", :id "es3SUQ2F6n"}
            }
           }
          }
         }
        }
       }
       "v" {
        :type :expr, :by "yeKFqj7rX", :at 1535475451259, :id "LNF_5hOX1C"
        :data {
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475454044, :text "->>", :id "LNF_5hOX1Cleaf"}
         "j" {:type :leaf, :by "yeKFqj7rX", :at 1535475458089, :text "words", :id "mLud8wqSwa"}
         "r" {
          :type :expr, :by "yeKFqj7rX", :at 1535475458669, :id "TSWqrN8wt"
          :data {
           "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475462947, :text "filter", :id "nCn83vv8jP"}
           "j" {
            :type :expr, :by "yeKFqj7rX", :at 1535475464371, :id "kerSRg97o"
            :data {
             "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475464688, :text "fn", :id "OeF6vqQkH5"}
             "j" {
              :type :expr, :by "yeKFqj7rX", :at 1535475465178, :id "7EmRfaLjNH"
              :data {
               "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475465961, :text "word", :id "RmysLLDrrZ"}
              }
             }
             "r" {
              :type :expr, :by "yeKFqj7rX", :at 1535475920212, :id "K1NhLYh4LA"
              :data {
               "D" {:type :leaf, :by "yeKFqj7rX", :at 1535475921485, :text "let", :id "gmQsmofq5"}
               "L" {
                :type :expr, :by "yeKFqj7rX", :at 1535475921699, :id "yZR3T1gswL"
                :data {
                 "T" {
                  :type :expr, :by "yeKFqj7rX", :at 1535475921850, :id "yV0bfZ1Z8t"
                  :data {
                   "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475924630, :text "letters", :id "lY7wIenDJ"}
                   "j" {
                    :type :expr, :by "yeKFqj7rX", :at 1535475868466, :id "a3_RueT_j9"
                    :data {
                     "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475874006, :text "string/split", :id "xn6ixTPr8F"}
                     "r" {:type :leaf, :by "yeKFqj7rX", :at 1535475877916, :text "word", :id "cxRaZR_ln"}
                     "v" {:type :leaf, :by "yeKFqj7rX", :at 1535475967365, :text "\"", :id "qRA-oKKn3L"}
                    }
                   }
                  }
                 }
                }
               }
               "T" {
                :type :expr, :by "yeKFqj7rX", :at 1535475501391, :id "BBym4V5cOg"
                :data {
                 "D" {:type :leaf, :by "yeKFqj7rX", :at 1535475502436, :text "and", :id "fBtP_7iL6"}
                 "T" {
                  :type :expr, :by "yeKFqj7rX", :at 1535475481581, :id "5A7nsKTNp"
                  :data {
                   "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475491044, :text "string/starts-with?", :id "5A7nsKTNpleaf"}
                   "j" {:type :leaf, :by "yeKFqj7rX", :at 1535475492548, :text "word", :id "dTDYEgnYo"}
                   "r" {:type :leaf, :by "yeKFqj7rX", :at 1535475853798, :text "\"j", :id "vm4B6LJaCc"}
                  }
                 }
                 "j" {
                  :type :expr, :by "yeKFqj7rX", :at 1535475502965, :id "YFcyZdNW0x"
                  :data {
                   "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475514732, :text "string/includes?", :id "YFcyZdNW0xleaf"}
                   "j" {:type :leaf, :by "yeKFqj7rX", :at 1535475509668, :text "word", :id "NAsRar7f9"}
                   "r" {:type :leaf, :by "yeKFqj7rX", :at 1535475538621, :text "\"m", :id "JARX9Lt3qN"}
                  }
                 }
                 "r" {
                  :type :expr, :by "yeKFqj7rX", :at 1535475554558, :id "9OdRQE97i"
                  :data {
                   "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475556268, :text "not", :id "9OdRQE97ileaf"}
                   "j" {
                    :type :expr, :by "yeKFqj7rX", :at 1535475556526, :id "XTVnTO6fN"
                    :data {
                     "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475567292, :text "string/ends-with?", :id "erRSIjWV8u"}
                     "j" {:type :leaf, :by "yeKFqj7rX", :at 1535475568210, :text "word", :id "K22gsGs5c"}
                     "r" {:type :leaf, :by "yeKFqj7rX", :at 1535475578159, :text "\"m", :id "XL1ffT5I2"}
                    }
                   }
                  }
                 }
                 "v" {
                  :type :expr, :by "yeKFqj7rX", :at 1535475857363, :id "cAPpCOFrr"
                  :data {
                   "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475858538, :text "=", :id "cAPpCOFrrleaf"}
                   "j" {:type :leaf, :by "yeKFqj7rX", :at 1535475859404, :text "1", :id "bW1mx3PPz8"}
                   "r" {
                    :type :expr, :by "yeKFqj7rX", :at 1535475861156, :id "t2FB4ZHG55"
                    :data {
                     "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475863279, :text "count", :id "0P1jKnJr9"}
                     "j" {
                      :type :expr, :by "yeKFqj7rX", :at 1535475863568, :id "GM211D6XI"
                      :data {
                       "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475866384, :text "filter", :id "iwZjrm0zwJ"}
                       "j" {
                        :type :expr, :by "yeKFqj7rX", :at 1535475866830, :id "Y4IAiqPwwU"
                        :data {
                         "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475867162, :text "fn", :id "H20VgoRX6"}
                         "j" {
                          :type :expr, :by "yeKFqj7rX", :at 1535475890204, :id "p_aeaMw0uS"
                          :data {
                           "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475890470, :text "x", :id "uwoTApxMCt"}
                          }
                         }
                         "r" {
                          :type :expr, :by "yeKFqj7rX", :at 1535475891281, :id "BWjbCyeizr"
                          :data {
                           "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475891655, :text "=", :id "BWjbCyeizrleaf"}
                           "j" {:type :leaf, :by "yeKFqj7rX", :at 1535475892236, :text "x", :id "iywtDejgyb"}
                           "r" {:type :leaf, :by "yeKFqj7rX", :at 1535475894406, :text "\"m", :id "Mt7inhLqUi"}
                          }
                         }
                        }
                       }
                       "r" {:type :leaf, :by "yeKFqj7rX", :at 1535475958734, :text "letters", :id "fyDkGXXcYY"}
                      }
                     }
                    }
                   }
                  }
                 }
                 "x" {
                  :type :expr, :by "yeKFqj7rX", :at 1535475857363, :id "qHh_Qs2h6"
                  :data {
                   "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475858538, :text "=", :id "cAPpCOFrrleaf"}
                   "j" {:type :leaf, :by "yeKFqj7rX", :at 1535475859404, :text "1", :id "bW1mx3PPz8"}
                   "r" {
                    :type :expr, :by "yeKFqj7rX", :at 1535475861156, :id "t2FB4ZHG55"
                    :data {
                     "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475863279, :text "count", :id "0P1jKnJr9"}
                     "j" {
                      :type :expr, :by "yeKFqj7rX", :at 1535475863568, :id "GM211D6XI"
                      :data {
                       "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475866384, :text "filter", :id "iwZjrm0zwJ"}
                       "j" {
                        :type :expr, :by "yeKFqj7rX", :at 1535475866830, :id "Y4IAiqPwwU"
                        :data {
                         "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475867162, :text "fn", :id "H20VgoRX6"}
                         "j" {
                          :type :expr, :by "yeKFqj7rX", :at 1535475890204, :id "p_aeaMw0uS"
                          :data {
                           "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475890470, :text "x", :id "uwoTApxMCt"}
                          }
                         }
                         "r" {
                          :type :expr, :by "yeKFqj7rX", :at 1535475891281, :id "BWjbCyeizr"
                          :data {
                           "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475891655, :text "=", :id "BWjbCyeizrleaf"}
                           "j" {:type :leaf, :by "yeKFqj7rX", :at 1535475892236, :text "x", :id "iywtDejgyb"}
                           "r" {:type :leaf, :by "yeKFqj7rX", :at 1535475900227, :text "\"j", :id "Mt7inhLqUi"}
                          }
                         }
                        }
                       }
                       "r" {:type :leaf, :by "yeKFqj7rX", :at 1535475960863, :text "letters", :id "dq1jIWn9N"}
                      }
                     }
                    }
                   }
                  }
                 }
                }
               }
              }
             }
            }
           }
          }
         }
         "v" {
          :type :expr, :by "yeKFqj7rX", :at 1535475470275, :id "so99G6MVG"
          :data {
           "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475473802, :text "string/join", :id "so99G6MVGleaf"}
           "j" {:type :leaf, :by "yeKFqj7rX", :at 1535475477607, :text "\\newline", :id "qpcAFrgPJ4"}
          }
         }
         "x" {
          :type :expr, :by "yeKFqj7rX", :at 1535475478404, :id "8YID6iHoel"
          :data {
           "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475479300, :text "println", :id "8YID6iHoelleaf"}
          }
         }
        }
       }
      }
     }
     "words" {
      :type :expr, :by "yeKFqj7rX", :at 1535475078471, :id "pcFP_3Mt6m"
      :data {
       "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475081164, :text "defonce", :id "wlavGgDl0t"}
       "j" {:type :leaf, :by "yeKFqj7rX", :at 1535475078471, :text "words", :id "0iblPy87DH"}
       "r" {
        :type :expr, :by "yeKFqj7rX", :at 1535475132841, :id "x3Ze-Ipkp"
        :data {
         "D" {:type :leaf, :by "yeKFqj7rX", :at 1535475134425, :text "->", :id "nr7i4-IoZb"}
         "T" {
          :type :expr, :by "yeKFqj7rX", :at 1535475078471, :id "bM259K1szc"
          :data {
           "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475089271, :text "fs/readFileSync", :id "NlaneZEbph"}
           "j" {
            :type :expr, :by "yeKFqj7rX", :at 1535475089869, :id "gESuMhttQs"
            :data {
             "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475092563, :text "path/join", :id "kjhi4LGsN"}
             "j" {:type :leaf, :by "yeKFqj7rX", :at 1535475095909, :text "js/__dirname", :id "EWECRIEP23"}
             "r" {:type :leaf, :by "yeKFqj7rX", :at 1535475104398, :text "\"words_alpha.txt", :id "IMKAG9v_jl"}
            }
           }
           "r" {:type :leaf, :by "yeKFqj7rX", :at 1535475131793, :text "\"utf8", :id "rq0w48ZNmO"}
          }
         }
         "j" {
          :type :expr, :by "yeKFqj7rX", :at 1535475135588, :id "rpSSdVFeQ"
          :data {
           "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475140250, :text "string/trim", :id "rpSSdVFeQleaf"}
          }
         }
         "r" {
          :type :expr, :by "yeKFqj7rX", :at 1535475140856, :id "C_iPmlgNEx"
          :data {
           "T" {:type :leaf, :by "yeKFqj7rX", :at 1535475144717, :text "string/split-lines", :id "C_iPmlgNExleaf"}
          }
         }
        }
       }
      }
     }
    }
    :proc {
     :type :expr, :by "yeKFqj7rX", :at 1534483212338, :id "mpzXR47-KZ"
     :data {}
    }
   }
  }
 }
 :saved-files {}
 :configs {:storage-key "calcit.edn", :local-storage-key "calcit-storage", :extension ".cljs", :output "src", :port 6001}
 :repl {
  :alive? false
  :logs {}
 }
}